
.logoStyle{

    height: 250px;
    width: 250px;
    margin-right: 20px;
}
.info {
    color: #63666a;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 3px;
}
form {
	padding: 40px;
	width: 100%;
}
h1 {
	margin-top: 10px;
	font-family: 'Open Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 700;
	text-align: center;
}
.btn {
	
	text-align: center !important;
}

.backButt{

    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    margin-left: 66%;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    color: black;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;

}
.backButt{
    margin-left: 5px;
    text-transform: none;
    color: #0000009e;
}

.btn-margin-detail {
    background-color: transparent !important;
    text-decoration: none;
    background: 0 0;
    padding: 8px;
}
.btn-margin-detail:hover {
    background-color: #4183c4 !important;
    border: 2px solid whitesmoke;
}

.flex{
    display: grid;
    flex-direction: column-reverse;
}
.centerPage{
    width: 200px;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.font{
    margin-left: 25px;
}

.buybox{
    position: relative;
    background: #fff;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    margin-right: 10px;

}

.buySellSort{
    display:flex;
}

.updateButton{
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    color: black;
    border: 1px solid whitesmoke;
    text-transform: none;
    padding: 23px 41px;
}
.updateButton:hover{
    color:whitesmoke;
    background-color:#808080;

}

.buyDetail{
    color: #fff;
    border: 1px solid #85bb65;
    background-color: #85bb65;
}
.sellDetail{
    color: #fff;
    border: 1px solid #c86b71;
    background-color: #c86b71;
}
button.btn{
        color: black;
    text-transform: none;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    color: black;
    border: 1px solid whitesmoke;
}

@media (min-width: 320px) and (max-width: 579px) {
    .listDetail{
    display: flex!important;
    flex-direction: column!important;
    margin-left: 5%!important;
    width: 90%!important;
    }
  .flex{
    display: block;
  }
  .logoStyle {
    height: 150px;
    width: 150px;
    margin-left: 65px;
    margin-top: 20px;
    }
    .backButt {
    margin-top: 0%!important;
    }
    .nameContainer {
    width: 255px;
    }
    .panel-default {
        width:95%;
    }
}



